@import '../../variables.scss';

.details {
  position: absolute;
  margin-top: 34px;
  transition: top 0.2s ease-out;
  z-index: 1;
  color: #999;

  &--squeezed {
    margin-top: 15px;
  }
  
  &__left, &__right {
    position: absolute;
  }

  &__left {
    right: 50%;
    margin-right: $max-block-width / 2 + 40px;
    text-align: right;
  }

  &__right {
    font-size: 0.75em;
    left: 50%;
    margin-left: $max-block-width / 2 + 30px;
    margin-top: -8px;
    min-width: 200px;
    line-height: 1.5;
  }

  &__blocknumber {
    font-family: Rajdhani, 'sans serif';
    font-size: 250%;
    color: #111;
  }

  &__timestamp {
    font-size: 0.75em;
    white-space: nowrap;
  }

  &__txaddresses {
    white-space: nowrap;
  }

  &__txvalue {
    font-size: 180%;
    font-family: Rajdhani, 'sans serif';
    color: #111;
    margin-bottom: 4px;
  }
}

.ether {
  font-family: Roboto, 'sans-serif';
  font-size: 0.9em;
}

@media screen and (max-width: 900px) {
  .details {
    position: fixed;
    top: auto !important;
    bottom: 0;
    width: 100%;
    height: 10em;
    background: white;
    box-shadow: 0px -2px 2px rgba(0,0,0,0.1);

    display: flex;
    justify-content: flex-start;

    &__left, &__right {
      position: static;
      margin: 0;
      text-align: left;
    }

    &__left {
      margin: 20px 20px 0 20px;
    }

    &__right {
      margin-top: 10px;
    }
  }
}
