.menu-icon {
  position: absolute;
  top: 14px;
  right: 0;
  transform: translateX(280%);
  width: 20px;
  height: 20px;
  margin: 10px;
  transition: .6s ease-in-out;
  cursor: pointer;

  &:hover {
    transition: .15s ease-in;

    span {
      animation-duration: 0.25s;
      animation-name: shake;
    }

    span:nth-child(2) {
      animation-delay: 0.05s;
    }

    span:nth-child(3) {
      animation-delay: 0.1s;
    }
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .6s ease-in-out;
  }

  &--open {
    span {
      background: white;
      animation: none !important;
    }
  }

  &--closing {
    span {
      animation: none !important;
    }
  }
}

.menu-icon span:nth-child(1) {
  top: 6px;
}

.menu-icon span:nth-child(2) {
  top: 12px;
  transition: .2s ease-in-out;
}

.menu-icon span:nth-child(3) {
  top: 18px;
}

.menu-icon--open span:nth-child(1) {
  top: 12px;
  transform: rotate(135deg);
}

.menu-icon--open span:nth-child(2) {
  opacity: 0;
  left: 20px;
}

.menu-icon--open span:nth-child(3) {
  top: 12px;
  transform: rotate(-135deg);
}

@keyframes shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0px)
  }
}
