.menu-icon {
  position: absolute;
  top: 14px;
  right: 0;
  transform: translateX(100%);
  width: 20px;
  height: 20px;
  margin: 10px;
  transition: .6s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateX(110%);
    transition: .15s ease-in;
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .6s ease-in-out;
  }

  &--open {
    span {
      background: white;
    }
  }
}

.menu-icon span:nth-child(1) {
  top: 6px;
}

.menu-icon span:nth-child(2) {
  top: 12px;
  transition: .2s ease-in-out;
}

.menu-icon span:nth-child(3) {
  top: 18px;
}

.menu-icon--open span:nth-child(1) {
  top: 12px;
  transform: rotate(135deg);
}

.menu-icon--open span:nth-child(2) {
  opacity: 0;
  left: 20px;
}

.menu-icon--open span:nth-child(3) {
  top: 12px;
  transform: rotate(-135deg);
}
